<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404 Error Example</title>
        <link rel="stylesheet" media="all" href="css/style.css" />
    </head>
    <body>
        <h1>404 Error</h1>
        <p class="zoom-area"><b>CSS</b> animations make a cool 404 page. </p>
        <section class="error-container">
            <span class="four"><span class="screen-reader-text">4</span></span>
            <span class="zero"><span class="screen-reader-text">0</span></span>
            <span class="four"><span class="screen-reader-text">4</span></span>
        </section>
        <div class="link-container">
            <a href="/" class="more-link">Go back homepage</a>
        </div>
    </body>
</html>